* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Hero section */
.hero {
  height: 100vh;
  background: linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.6)
    ),
    url("./home\ page.jpg") center/cover no-repeat;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 3rem;
}

.btn-contact {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: orange; 
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.btn-contact:hover {
  background: #f7941b; /* Slightly darker orange on hover */
}

/* Sections */
section {
  padding: 80px 40px;
  text-align: center;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
#services {
background-color: #dddada;
}

.card {
  background: #f4f4f4;
  padding: 30px;
  border-radius: 8px;
  font-weight: bold;
}

#location {
  background: #222;
  color: white;
}

#contact {
  background: #eee;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}

.card.repair {
  background-image: url('./repair.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px 4px #ac1717;
  color: rgb(255, 255, 255);
}

.card.diagnostics {
  background-image: url('./engine.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px 4px #ac1717;
  color: rgb(255, 255, 255);
}

.card.oil {
  background-image: url('./engine oil change.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px 4px #ac1717;
  color: rgb(255, 255, 255);
}

.card.washing {
  background-image: url('./washing.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px 4px #ac1717;
  color: rgb(255, 255, 255);
}

.card.servicing {
  background-image: url('./servicing.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px 4px #ac1717;
  color: rgb(255, 255, 255);
}