* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}


.carousel-item img {
  width: 100%;
  height: 100vh;        /* same height for all */
  object-fit: cover;   /* crop without distortion */
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.hero h1 {
  font-size: 3rem;
}

.btn-contact {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: orange; 
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.btn-contact:hover {
  background: #f7941b; /* Slightly darker orange on hover */
}

.carousel-caption {
  bottom: 30%;
  text-shadow: #111 2px 2px 4px;
}
section {
  padding: 80px 40px;
  text-align: center;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
#services {
background: linear-gradient(to right, #ff4848, #4e0303);
}

.card {
  background: #f4f4f4;
  padding: 30px;
  border-radius: 8px;
  font-weight: bold;
}

#location {
  background: linear-gradient(120deg, rgb(16, 76, 16), rgb(56, 209, 56));
  color: white;
}

#contact {
  background: linear-gradient(120deg, rgb(246, 246, 73), rgb(116, 112, 9));
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}

.card.repair {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./repair.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px 4px #ac1717;
  color: rgb(255, 255, 255);
}

.card.diagnostics {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./engine.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px 4px #ac1717;
  color: rgb(255, 255, 255);
}

.card.oil {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./engine oil change.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px 4px #ac1717;
  color: rgb(255, 255, 255);
}

.card.washing {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./washing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px 4px #ac1717;
  color: rgb(255, 255, 255);
}

.card.servicing {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./servicing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px 4px #ac1717;
  color: rgb(255, 255, 255);
}